@font-face {
  font-family: iranYekan;
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/Yekan.ttf');
  src: url('../../assets/fonts/Yekan.woff');
  src: url('../../assets/fonts/Yekan.eot');
}
